<% if @song.comments.length > 0 %>
	<% @song.comments.each do |comment| %>
		<section class="part">
			<p><%= comment.body %></p>
			<p><%= link_to '@'+comment.user.username, user_path(comment.user) %> ( <%= comment.created_at.strftime("%b %d, %Y") %> )</p>
			<% if @current_user == @user %>
				<%= link_to '[ Delete ]', destroy_comment_path(@song.user_id, @song.id), method: :delete %>  
			<% end %>
		</section>
	<% end %>
<% else %>
	<section class="part">
		<p>No comments have been posted yet.</p>
  	</section>
<% end %>

