<section class="row blank">
	<div class="col-md-12">
		<h1>About EmpowerMIX</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</section>

<section class="row about"></section>

<section class="row blank">
	<div class="col-md-6">
		<h2>The United Nations Foundation’s Shot@Life campaign</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-md-6">
		<img src="/images/donate.jpg">
	</div>
</section>

<section class="row blank">
	<div class="col-md-6">
		<img src="/images/donate.jpg">
	</div>
	<div class="col-md-6">
		<h2>Population Services International</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</section>

<section class="row blank">
	<div class="col-md-6">
		<h2>Tostan</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-md-6">
		<img src="/images/donate.jpg">
	</div>
</section>

<section class="row blank">
	<div class="col-md-6">
		<img src="/images/donate.jpg">
	</div>
	<div class="col-md-6">
		<h2>Population Services International</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</section>

<section class="row blank">
	<div class="col-md-6">
		<h2>Girls Not Brides</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-md-6">
		<img src="/images/donate.jpg">
	</div>
</section>

<section class="row blank">
	<div class="col-md-12">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</section>