<section class="row index">
	<div class="col-md-12">

	</div>
</section>

<section class="row breakdown">
	<div class="col-md-4">
	<span class="glyphicon glyphicon-headphones"></span>
	<h2>Listen</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>

	<div class="col-md-4">
	<span class="glyphicon glyphicon-music"></span>
	<h2>Contribute</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>

	<div class="col-md-4">
	<span class="glyphicon glyphicon-fire"></span>
	<h2>Empower</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
</section>

<section class="slider">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="/images/slider01.png" alt="...">
	      <div class="carousel-caption">
	      </div>
	    </div>
	    <div class="item">
	      <img src="/images/slider02.png" alt="...">
	      <div class="carousel-caption">
	      </div>
	    </div>
	    <div class="item">
	      <img src="/images/slider03.png" alt="...">
	      <div class="carousel-caption">
	      </div>
	    </div>	
	    <div class="item">
	      <img src="/images/slider04.png" alt="...">
	      <div class="carousel-caption">
	      </div>
	    </div>
	    <div class="item">
	      <img src="/images/slider05.png" alt="...">
	      <div class="carousel-caption">
	      </div>
	    </div>	    
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</section>

<section class="row blank">
	<div class="col-md-12">
		<h2>Music Library</h2>
		<% @songs.each do |song| %>
			<h3><%= song.year %> - 
			<%= link_to song.title, view_song_path(song) %> 
			by <%= song.artist %></h3>
		<% end %>
	</div>
</section>

<section class="row donate">
	<div class="col-md-12">
		<h2>Creative Header for Charity Section</h2>
		<h3>The United Nations Foundation’s <a href="http://shotatlife.org/donate/" target=“_blank”>Shot@Life</a> Campaign</h3>
		<h3><a href="http://www.psi.org" target=“_blank”>Population Services International</a></h3>
		<h3><a href="http://www.tostan.org" target=“_blank”>Tostan</a></h3>
		<h3><a href="http://www.heifer.org" target=“_blank”>Heifer International</a></h3>
		<h3><a href="http://www.girlsnotbrides.org" target=“_blank”>Girls Not Brides</a></h3>
		<% link_to 'Read More', about_path %>
	</div>
</section>