@import "bootstrap-sprockets";
@import "bootstrap";

@import "social-share-button";

$fill: #fff;
$background: #f9f9f9;
$primary-color: #7d54df;
$secondary-color: #8b67e2;

/* Body */
body {
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
	letter-spacing: 1.25px; 
	line-height: 1.5;
	background-color: $primary-color;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  // background-image: url(fallback-gradient.svg); 

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, left top, right top, from(#f9c7d4), to(#cf9fdb), to(#7d54df));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, #f9c7d4, #cf9fdb, #7d54df);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, #f9c7d4, #cf9fdb, #7d54df);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, #f9c7d4, #cf9fdb, #7d54df);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to right, #f9c7d4, #cf9fdb, #7d54df);

	h1, h2, h3, h4, h5 {
		color: #444;
		font-weight: 500;
		padding: 0;
		margin: 0;
		line-height: 1.5;
	}

	h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	h3 {
		font-size: 16px;
		margin-bottom: 15px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 14px;
	}

	p {
		font-size: 13px;
		margin-bottom: 15px;
		font-weight: 300;
		color: #444;
	}

	strong {
		font-size: 14px;
		margin-bottom: 15px;
		font-weight: 500;
		color: #444;
	}

	a:link, a:visited {
		text-decoration: none;
		color: $primary-color;
	}

	a:hover, a:active {
		text-decoration: none;
		color: $secondary-color;
	}

	label {
		font-weight: 400;
	}

}


/* Header */
header {
	padding: 20px 75px;

	.logo {
    // background-color:red;
		padding: 5px 0;
    font-weight: 600;     		
    
    a:link, a:visited, a:hover, a:active {
			font-size: 14px;
			color: $primary-color;

		}
	}

	nav {
	text-align: right;
  // background-color: blue;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			font-size: 14px;
			display: inline-block;
			padding: 0 0 0 20px;
			margin: 0;
		}

		a:link, a:visited, a:hover, a:active {
			color: #fff;
		}
	}
}

button {
  background-color: rgba(255,255,255,.25);
	border-width: 0;
  border-radius: 4px;
  padding: 5px 10px;
}


/* Main */
section img {
	width: 100%;
}

.blank {
	padding: 30px 75px;
	background: #fff;
}

.background {
	background: $background;
	padding: 30px 75px;
}

.index {
	padding: 45px 75px 15px 75px;
  // background-color: rgba(255,255,255,.25);
	// background: image-url("hero-design.png") no-repeat top center;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover; 
}

.slider {
	margin: 0 -15px;
	background-color: #444;
}

.donate-01{
  background: image-url("girls-not-brides.jpg") center center;
}

.donate-02{
  background: image-url("girls-on-the-run.jpg") center center;
}

.donate-03{
  background: image-url("days-for-girls.jpg") center center;
}

.donate-04{
  background: image-url("tostan.jpg") center center;
}

.donate-01, .donate-02, .donate-03, .donate-04 {
 	background-size: auto 100%;
  height: 250px; 
  text-align: center;
}

.about {
	padding: 30px 75px;
	background-color: #444;
	background: image-url("donate.jpg") no-repeat center -175px;
	background-size: 100% auto;
	height: 350px; 
}

.breakdown {
	background: #fff;
	padding: 30px 75px;
	text-align: center;
}

.part {
	background: $fill;
	padding: 15px;
	margin: 0 0 30px 0;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}

}

.comment {
	background: $fill;
	padding: 15px;
	margin: 0 0 2px 0;

	p {
		margin-bottom: 5px;
	}

	h3 {
		margin-bottom: 0;
	}

	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}

}


/* Responsive Video */
.video, .music {
	background: $fill;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	margin: 0 0 30px 0;
	height: 0;
}
.video iframe, .music iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* White-Space */

.text {
	white-space: pre-wrap;
}

/* Footer */

footer {
	background: $primary-color;
	padding: 30px 75px;
  text-align: center;

	h3 {
		color: #e8e8e8;
		font-size: 15px;
		margin: 0;
	}

	h4 {
		color: #e8e8e8;
		font-size: 15px;
		margin-bottom: 10px;
	}

	h5 {
		color: #e8e8e8;
		font-size: 15px;
		margin: 0;
	}	

	p {
		color: #e8e8e8;
		font-size: 12px;
		margin: 0;
	}
}

.bottom {
	background: $secondary-color;
}

/* Forms */

.text_field {
	letter-spacing: 1.5px;
	font-size: 15px;
	font-weight: 300;
	color: #444;
	border-color: #e8e8e8;
	border-width: 0 0 1px 0;
	width: 100%;
	padding: 5px 0;
	margin: 0;
}

.text_box {
	letter-spacing: 1.5px;
	font-size: 15px;
	font-weight: 300;
	color: #444;
	white-space: pre;
	border-color: #e8e8e8;
	border-width: 0 1px 1px 0;
	width: 100%;
	padding: 0 0 30px 0;
	margin: 0;
}

.description {
	min-height: 50px;
	white-space: pre-wrap;
}

.lyrics {
	min-height: 300px;
	white-space: pre-wrap;
}

.url_field {

}

.button {
	width: 100%;
	padding: 15px 0;
	margin: 0 0 30px 0;
	letter-spacing: 1.5px;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	background: $secondary-color;
	border: 0;
}

.nested_button {
	width: 100%;
	padding: 5px 0;
	margin: 10px 0 0 0;
	letter-spacing: 1.5px;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	background: #e8e8e8;
	border: 0;
}

.view_button {
	width: 100%;
	padding: 15px 0;
	margin: 0 0 30px 0;
	letter-spacing: 1.5px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	background: $primary-color;
	border: 0;

	a:link, a:visited {
		text-decoration: none;
		color: #fff;
	}

	a:hover, a:active {
		text-decoration: none;
		color: #fff;
	}
}

.edit, .delete, .spotify, .soundcloud, .facebook, .youtube, .instagram, .twitter, .like {
	display: block;
	width: 100%;
	padding: 10px 0;
	margin: 5px 0 0 0;
	letter-spacing: 1.5px;
	color:#fff;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	border: 0;

	a:link, a:visited {
		text-decoration: none;
		color: #fff;
	}

	a:hover, a:active {
		text-decoration: none;
		color: #fff;
	}
}

.edit {
	background: $primary-color;
} 

.delete {
	background: red;
} 

.spotify {
	background: #2CBF5F;
} 

.soundcloud {
	background: #ff3a00;
}

.facebook {
	background: #3b5998;
} 

.youtube {
	background: #bb0000;
} 

.instagram {
	background: #517fa4;
} 

.twitter {
	background: #00aced;
} 

.like {
	background: red;
} 


.glyphicon-headphones, .glyphicon-music, .glyphicon-fire {
	font-size: 50px;
	color: #444;
	margin: 15px 0;
}


.login {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
}


/* Media Queries */

@media (max-width: 1000px) {

	header .blank, .background, .breakdown, footer {
		padding: 30px 0;
	}

}


/* Timeline */
.date {
  background-color: rgba(255,255,255, .75);
  padding: 15px 0;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
}

.song {
  background-color: rgba(255,255,255, .5);
  padding: 15px 0 15px 15px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
}









