<div class="col-md-4">
	<section class="part">

		<% if @user.image.nil? %>
			<img src="/images/donate.jpg">
		<% elsif @user.image.length > 0 %>
			<img src="<%= @user.image %>">	
		<% else %>
			<img src="/images/donate.jpg">
		<% end %>

	</section>

	<section class="part">
	<p>USER-SUBMIT A SONG Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</section>

	<section class="part">
	<p>USER-RANDOM FEATURED ARTIST Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</section>

	<section class="part">
	<p>USER-AD Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</section>
</div> 